<div class="container">

    <div class="center">
        <img src="/assets/images/cisco-logo-mainPage.png" style="width: 158px;height: 115px;"/>
      </div>
    
  <div class="row">
    <div class="col">
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username"  required>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      <input type="submit" style="align-items: center "value="Login" (click)="login()">
      
      <!-- <button (click)="login()">Login</button> -->
    </div>
  
  </div>
</div>
  
 