<div class="container">
    
  <div class="row">
    <div class="col">
        <h2 style="text-align:center" color= "white">Create Bot</h2>
      <input type="text" name="BotName" placeholder="Please Enter Bot Name" [(ngModel)]="BotName"  required>
      <input type="text" name="BotDescription" placeholder="Please Enter Bot Description" [(ngModel)]="BotDescription" required>
      <input type="submit" style="align-items: center "value="Create Bot" (click)="CreateBot()">
      
      <!-- <button (click)="login()">Login</button> -->
    </div>
  
  </div>
</div>
  
 